body {
  background-color: #F1F1F1;
  font-family: 'Times New Roman', Times, serif;
}

/**navbar**/
.navbar {
  margin-bottom: 20px;
  background-color: darkkhaki;
}

.navbar-nav{
  margin-right: 20px;
}

.navbar-nav .nav-item .nav-link.active {
  color: #000000; /* Warna teks hitam */
}

.avatar {
  position: relative;
  width: 100px;
  height: 100px;
  margin-left: 10px;
}
/**end navbar**/


footer {
  width: 100%;
  background-color: darkkhaki;
  text-align: center;
}

.copyright {
  background-color: rgb(194, 183, 37);
  padding: 10px;
  text-align: center;
}
