body {
  background-color: #F1F1F1;
  font-family: 'Times New Roman', Times, serif;
}

/**navbar**/
.navbar {
  margin-bottom: 20px;
  background-color: darkkhaki;
  padding-left: 30px;
}

.navbar-nav .nav-item .nav-link.active {
  color: #000000; /* Warna teks hitam */
}

.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
}
/**end navbar**/


/**footer**/
footer {
  width: 100%;
  position: relative;
  left: 0;
  right: 0;
  background-color: darkkhaki;

}

.copyright{
    width: 100%;
    position: relative;
    left: 0;
    right: 0;
    background-color: rgb(194, 183, 37);
    padding: 10px;
}